@model List<Model.EF.Menu>
@{
    var session = (UserLogin)Session[GreenLesson.Common.CommonContants.USER_SESSION];
}
@if (session == null)
{
    <div class="dropdown">
        <button class="dropbtn"><i class="fas fa-user"></i> Người dùng </button>
        <div class="dropdown-content">

            @foreach (var item in Model)
            {
                <a class="nav-link text-dark" href="@item.Link" target="@item.Target"><i class="fas fa-users"></i> @item.Text</a>
            }
        </div>
    </div>
}
else
{

<div class="dropdown">
    <button class="dropbtn"><i class="fas fa-user"></i> Xin chào: @session.UserName</button>
    <div class="dropdown-content">
        <a class="nav-link text-dark" href="/User/Logout"><i class="fas fa-sign-out-alt"></i> Đăng Xuất</a>
    </div>
</div>

}
