
@{
    Layout = null;
}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Quản lý người dùng
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/User/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Danh sách người dùng</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="fas fa-bible"></i>
                <p>
                    Danh mục bài giảng
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Category/Index" class="nav-link">
                        <i class="fas fa-file-alt  nav-icon"></i>
                        <p>Danh sách danh mục</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="fas fa-newspaper"></i>
                <p>
                    Quản lý tin tức
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/New/Index" class="nav-link">
                        <i class="fas fa-file-alt  nav-icon"></i>
                        <p>Danh sách tin tức tin tức</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="fas fa-bible"></i>
                <p>
                    Quản lý bài giảng
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Lesson/Index" class="nav-link">
                        <i class="fas fa-file-alt  nav-icon"></i>
                        <p>Danh sách bài giảng</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="fab fa-discourse"></i>
                <p>
                    Quản lý Các khoá học
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Course/Index" class="nav-link">
                        <i class="fas fa-file-alt  nav-icon"></i>
                        <p>Danh sách khoá học</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="far fa-file-excel"></i>
                <p>
                    Quản lý đề thi
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Exam/Index" class="nav-link">
                        <i class="fas fa-file-alt  nav-icon"></i>
                        <p>Danh sách đề thi</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item has-treeview">
            <a href="/Admin/About/Index" class="nav-link">
                <i class="fas fa-building"></i>
                <p>
                    Quản lý bài giới thiệu
                </p>
            </a>

        </li>

        <li class="nav-item has-treeview">
            <a href="/Admin/Feedback/Index" class="nav-link">
                <i class="fas fa-building"></i>
                <p>
                    Quản lý Feedback khách hàng
                </p>
            </a>

        </li>
    </ul>
</nav>
